.cards{
  max-width:1300px; 
  margin:1rem auto;
  /* background-color: #e4c1f9; */
}

.cards__title{
  font-size: 1.5rem;
  color: #171717;
  margin-bottom: 1rem;
  margin-left: 8px;
}

.cards__products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width:1232px){
  .cards__products{
      grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width:1110px){
  .cards__products{
      grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:630px){
  .cards__products{
      grid-template-columns:1fr;
  }
}